[submodule "01-netwhat/ip_calc"]
	path = 01-netwhat/ip_calc
	url = https://github.com/appinha/ip_calc-netwhat-42cursus
[submodule "00-libft"]
	path = 00-libft
	url = https://github.com/appinha/42cursus-00-Libft
