[submodule "01-netwhat/ip_calc"]
	path = 01-netwhat/ip_calc
	url = https://github.com/appinha/ip_calc-netwhat-42cursus
[submodule "00-libft"]
	path = 00-libft
	url = https://github.com/appinha/42cursus-00-Libft
[submodule "01-ft_printf"]
	path = 01-ft_printf
	url = https://github.com/appinha/42cursus-01-ft_printf
[submodule "01-get_next_line"]
	path = 01-get_next_line
	url = https://github.com/appinha/42cursus-01-get_next_line
[submodule "02-ft_server"]
	path = 02-ft_server
	url = https://github.com/appinha/42cursus-02-ft_server
